.common-omni-search {
    position: relative;
    width: 100%;

    input {
        width: 100%;
    }

    .results {
        position: absolute;
        width: 100%;
        display: block;
        margin-top: var(--base-space);
        z-index: 1;
        background-color: var(--surface-background-color);
        box-shadow: var(--interactive-surface-box-shadow);
        border-radius: var(--border-radius);
        overflow: hidden;

        > ul {
            max-height: 500px;
            overflow: auto;

            & > li {
                list-style: none;

                & + li {
                    border-top: 2px solid var(--border-color);
                }

                a {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    text-decoration: none;
                    color: var(--font-color);
                    padding: var(--base-space-2x) var(--base-space);
                    white-space: normal;

                    &:hover,
                    &:focus {
                        background-color: var(
                            --interactive-surface-background-color-hover
                        );
                    }

                    aside {
                        display: flex;
                        width: 54px;
                        height: 54px;
                        flex-shrink: 0;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--surface-background-color);
                        border: 2px solid var(--border-color);
                        border-radius: var(--border-radius);
                        margin-right: var(--base-space-2x);

                        svg {
                            width: 36px;
                        }
                    }

                    main {
                        .title {
                            color: var(--staze-green);
                        }

                        .match {
                            font-weight: bold;
                            text-decoration: underline;
                        }
                    }

                    &.area {
                        aside {
                            border-color: var(--staze-green);
                        }

                        svg {
                            circle,
                            path {
                                fill: var(--staze-green);
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 960px) {
        width: auto;

        input {
            width: 100%;
        }

        .results {
            position: relative;

            ul {
                background-color: transparent;
                border: none;
                max-height: none;

                li + li {
                    border-top-color: var(--border-color-transparent);
                }
            }
        }
    }
}
