
@mixin input-style {
    color: var(--font-color);
    padding: $base-space 1.5 * $base-space;
    border-radius: 4px;
    background: var(--primary-background-color);
    border: var(--button-border);
    outline: none;

    &:focus {
        border-color: var(--hill-color);
    }
}

@mixin button-style {
    color: var(--font-color);
    border-radius: $border-radius;
    background: transparent;
    padding: 0.5 * $base-space 1.25 * $base-space;
    border: var(--button-border);
    cursor: pointer;
    outline: none;

    &:hover, &:focus {
        border-color: var(--hill-color);
    }

    &:active {
        transform: translate(1px, 1px);
    }
}

@mixin card-style {
    padding: $base-space;
    box-shadow: var(--box-shadow);
    background-color: var(--primary-background-color);
    border-radius: $border-radius;
}