@import 'variables.scss';

:root {
    --font: #{$font};
    --font-color: #{$font-color};
    --link-color: #{$link-color};
    --highlight-color: #{$highlight-color};
    --hill-color: #{$hill-color};
    --primary-background-color: #{$primary-background-color};
    --secondary-background-color: #{$secondary-background-color};
    --tertiary-background-color: #{ $tertiary-background-color };
    --button-border: #{ $button-border };
    --card-border: #{ $card-border };
    --box-shadow: #{ $box-shadow };
}