$base-space: 8px;
$mobile-breakpoint: 480px;
$font: 400 16px/1.5 sans-serif;

$primary-background-color: rgb(253, 253, 253);
$secondary-background-color: rgb(245, 245, 245);
$font-color: rgb(28, 36, 36);
$link-color: rgb(51, 50, 54);

:root {
    --font: #{$font};
    --font-color: #{$font-color};
    --link-color: #{$link-color};
    --primary-background-color: #{$primary-background-color};
    --secondary-background-color: #{$secondary-background-color};
}

// ------------------------------------------------------------------
// DARK Mode
// ------------------------------------------------------------------

$primary-background-color-dark: rgb(18, 18, 18);
$secondary-background-color-dark: rgb(2, 2, 2);
$font-color-dark: rgb(255, 255, 255);
$link-color-dark: rgb(255, 255, 255);

@media (prefers-color-scheme: dark) {
    :root {
        --font: #{$font};
        --font-color: #{$font-color-dark};
        --link-color: #{$link-color-dark};
        --primary-background-color: #{$primary-background-color-dark};
        --secondary-background-color: #{$secondary-background-color-dark};
    }
}