@import '../../theme.scss';

.ui--Logo {
    @media only screen and (min-device-width: $mobile-breakpoint) {
        display: block;
        min-width: 80px;
        min-height: 75px;
        order: 0;
    }
}