.ui--TrailListItem {
    .information {
        > span {
            display: inline-flex;
            align-items: center;
            margin-bottom: 6px;

            & + span {
                margin-left: 12px;
            }

            svg {
                margin-right: 6px;
            }

            &:first-child {
                display: flex;

                & + span {
                    margin-left: 0;
                }
            }
        }
    }
}