.inline-flexible-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    > * {
        list-style: none;
        padding: 0;
        margin: 0;

        & + * {
            margin-left: var(--base-space);
        }
    }

    &.with-borders {
        > * {
            border-radius: var(--border-radius);
            border: 1px solid var(--border-color);
            padding: var(--base-space) var(--base-space-2x);
            margin-bottom: var(--base-space);
        }
    }

    @media screen and (max-width: 960px) {
        justify-content: center;
    }
}
