@import url('https://fonts.googleapis.com/css?family=Lato:400,600,700&display=swap&subset=latin-ext');

:root {
    --font: 400 17px/1.5 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    --font-color: rgb(40, 40, 40);
    --link-color: rgb(10, 10, 10);

    --background-color: rgb(235, 235, 235);
    --border-radius: 12px;

    --base-space: 8px;
    --base-space-2x: 16px;
    --base-space-4x: 32px;
    --mobile-breakpoint: 640px;

    --overlay-background-color: rgba(255, 255, 255, 0.55);
    --surface-background-color: rgb(255, 255, 255);
    --interactive-surface-background-color: rgb(255, 255, 255);
    --interactive-surface-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);

    --border-color: rgb(235, 235, 235);
    --border-color-transparent: rgb(0, 0, 0, 0.1);

    --input-background-color: rgb(255, 255, 255);
    --input-border-color: transparent;

    --button-background-color: rgb(255, 255, 255);
    --button-border-color: rgb(190, 190, 190);

    --tile-border-radius: 24px;
    --tile-background-color: rgb(255, 255, 255);

    --staze-green: #288c07;
    --staze-green-darker: #1f7206;
    --staze-red: #ed1c24;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --font-color: rgb(245, 245, 247);
        --link-color: rgb(255, 255, 255);

        --background-color: rgb(18, 18, 18);

        --overlay-background-color: rgba(0, 0, 0, 0.25);
        --surface-background-color: rgb(40, 40, 40);
        --interactive-surface-background-color: rgb(50, 50, 50);
        --interactive-surface-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);

        --border-color: rgb(65, 65, 65);
        --border-color-transparent: rgb(255, 255, 255, 0.1);

        --input-background-color: rgb(50, 50, 50);
        --input-border-color: rgba(255, 255, 255, 0.1);

        --button-background-color: rgb(55, 55, 55);
        --button-border-color: rgb(75, 75, 75);

        --tile-background-color: rgb(25, 25, 25);

        --staze-green: #32ad09;
        --staze-green-darker: #258b06;
        --staze-red: #ff0810;
    }
}
