@media screen and (max-width: 640px) {
    &.small-text-align-center {
        text-align: center;
    }
}

@media screen and (prefers-color-scheme: dark) {
    &.invert-on-dark-mode {
        filter: invert(0.9);
    }

    &.reduce-contrast-on-dark-mode {
        filter: contrast(70%) sepia(30%);
    }
}
