.common-footer {
    padding: var(--base-space-2x);
    margin: var(--base-space-2x);
    display: flex;
    align-items: center;
    flex-direction: column;

    .item {
        margin-bottom: var(--base-space-2x);
        margin-top: var(--base-space-2x);
    }

    .homepage-link {
        display: block;
        align-self: start;

        .common-logo {
            width: 200px;
        }
    }

    small {
        opacity: 0.5;
        display: block;
        max-width: 500px;
        text-align: center;
    }
}
