.common-footer {
    padding: var(--base-space-4x);
    background-color: rgba(0, 0, 0, 0.05);

    .homepage-link {
        display: block;

        .common-logo {
            width: 200px;
        }
    }

    small {
        opacity: 0.5;
        display: block;
        max-width: 500px;
    }

    hr {
        border: none;
        border-top: 1px solid var(--border-color-transparent);
        margin: var(--base-space-2x) 0;
    }

    @media screen and (max-width: 960px) {
        text-align: center;
        padding: var(--base-space-4x);

        .homepage-link {
            margin: auto;
        }
    }
}
