$height: 400px;

.ui--card {
    &.full-image {
        .content {
            padding: 0;
            display: block;
            overflow: hidden;
            position: relative;
            height: $height;

            h2 {
                position: absolute;
                z-index: 1;
                bottom: var(--base-space-2x);
                left: var(--base-space-2x);
                margin-bottom: 0;
                backdrop-filter: blur(30px) saturate(130%);
                background-color: rgba(0, 0, 0, 0.2);
                backface-visibility: hidden;
                border-radius: var(--border-radius);
                color: white;
                text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
                padding: var(--base-space-2x) var(--base-space-4x);
            }

            img {
                display: block;
                border-radius: 0;
                min-height: 100%;
                min-width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
