.ui--card {
    height: 100%;

    a {
        display: block;
        height: 100%;
    }

    .content {
        height: 100%;
        padding: var(--base-space-4x);
        background-color: var(--card-background-color);
        box-shadow: var(--interactive-surface-box-shadow);
        border-radius: var(--card-border-radius);
        overflow: hidden;

        img {
            border-radius: var(--border-radius);
        }
    }

    @media screen and (max-width: 960px) {
        & {
            .content {
                padding: var(--base-space-2x);
            }
        }
    }
}
