.common-main-menu {
    ul {
        display: flex;

        li {
            list-style: none;
            padding: var(--base-space);

            a {
                font-weight: 400;
                text-decoration: none;
                color: var(--link-color);
                border-bottom: 2px solid transparent;

                &:hover,
                &.__active {
                    color: var(--text-color);
                    border-bottom-color: var(--staze-red);
                }

                &.__active {
                    font-weight: 700;
                }
            }
        }
    }

    @media screen and (max-width: 640px) {
        ul {
            flex-direction: column;
            width: 100%;
            margin-right: var(--base-space-2x);

            li {
                padding: var(--base-space) 0;

                a {
                    display: block;
                    padding: var(--base-space);
                    margin-right: var(--base-space-2x);
                    border-bottom: 2px solid var(--border-color-transparent);
                    font-weight: 700;
                    font-size: 150%;

                    &:focus,
                    &:active {
                        outline: none;
                    }

                    &.__active {
                        color: var(--staze-green);
                        border-bottom-color: var(--staze-green);
                    }
                }
            }
        }
    }
}
