.ui--card {
    a {
        display: block;
        border: 2px solid var(--interactive-surface-background-color);
        border-radius: var(--border-radius);
        background-color: var(--interactive-surface-background-color);
        box-shadow: var(--interactive-surface-box-shadow);
        color: var(--body-color);
        text-decoration: none;

        &:hover {
            border-color: var(--staze-green);
        }
    }

    .content {
        padding: var(--base-space-2x);
    }
}
