@import '../../chrome/variables.scss';

.ui--Header {
    display: flex;
    align-content: center;
    padding: 0.5 * $base-space 2 * $base-space;
    border-bottom: var(--card-border);
    background: var(--primary-background-color);

    @media only screen and (max-device-width: $mobile-breakpoint) {
        justify-content: space-between;
    }
}