.common-main-menu {
    ul {
        display: flex;

        li {
            list-style: none;
            padding: var(--base-space);

            a {
                font-weight: 400;
                text-decoration: none;
                color: var(--link-color);
                border-bottom: 2px solid transparent;

                &:hover,
                &.__active {
                    color: var(--text-color);
                    border-bottom-color: var(--staze-red);
                }

                &.__active {
                    font-weight: 700;
                }
            }
        }
    }
}
