*:focus {
    outline-style: dashed;
    outline-offset: 4px;
    outline-color: var(--staze-green);
    outline-width: 2px;
}

body {
    font: var(--font);
    color: var(--font-color);
    background-color: var(--background-color);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .staze-hr > main {
        padding: var(--base-space-2x) var(--base-space-2x);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--font-color);
        font-weight: bold;
        margin-bottom: var(--base-space);
    }

    p {
        margin-bottom: var(--base-space);
    }

    a {
        text-decoration: none;
        color: var(--staze-green);

        &:hover {
            text-decoration: underline;
        }
    }

    table {
        width: 100%;

        tbody {
            th,
            td {
                width: 50%;
                text-align: left;
                padding: var(--base-space) var(--base-space-2x)
                    var(--base-space) 0;
            }

            tr + tr {
                th,
                td {
                    border-top: 1px solid var(--border-color);
                }
            }
        }
    }
}

img {
    max-width: 100%;
}
