@import url('https://fonts.googleapis.com/css?family=Lato:400,600,700&display=swap&subset=latin-ext');

:root {
    --font: 400 17px/1.5 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    --font-color: rgb(10, 10, 10);
    --link-color: rgb(53, 53, 53);
    --primary-background-color: rgb(245, 245, 245);
    --border-radius: 12px;

    --base-space: 8px;
    --base-space-2x: 16px;
    --mobile-breakpoint: 640px;

    --overlay-background-color: rgba(255, 255, 255, 0.45);
    --primary-surface-background-color: rgb(250, 250, 250);
    --primary-interactive-surface-background-color: rgb(255, 255, 255);
    --primary-border-color: rgb(215, 215, 215);
    --primary-border-color-transparent: rgb(0, 0, 0, 0.1);
    --input-border-color: rgb(200, 200, 200);

    --staze-green: #288c07;
    --staze-red: #ed1c24;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --font-color: rgb(250, 250, 250);
        --link-color: rgb(230, 230, 230);
        --primary-background-color: rgb(35, 35, 35);
        --overlay-background-color: rgba(25, 25, 25, 0.45);
        --primary-surface-background-color: rgb(45, 45, 45);
        --primary-interactive-surface-background-color: rgb(55, 55, 55);
        --primary-border-color: rgb(65, 65, 65);
        --primary-border-color-transparent: rgb(255, 255, 255, 0.1);
        --input-border-color: rgb(105, 105, 105);
        --staze-green: rgb(55, 212, 3);
    }
}

*:focus {
    outline-style: dashed;
    outline-offset: 4px;
    outline-color: var(--staze-green);
    outline-width: 2px;
}

body {
    font: var(--font);
    color: var(--font-color);
    background-color: var(--primary-background-color);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button {
    padding: var(--base-space) var(--base-space-2x);
    background-color: var(--primary-surface-background-color);
    border: 2px solid var(--input-border-color);
    border-radius: var(--border-radius);
    color: var(--font-color);
    font: var(--font);
    font-size: 16px;

    &:hover {
        background-color: var(--primary-interactive-surface-background-color);
    }

    &:active,
    &:focus {
        outline: 0;
        border-color: var(--staze-green);
        background-color: var(--primary-interactive-surface-background-color);
    }
}

button {
    cursor: pointer;
    border-width: 1px;
}
