.ui-no-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--base-space-2x);

    svg {
        width: 40px;
        margin: var(--base-space);

        circle,
        path {
            fill: var(--font-color);
            border: 2px solid var(--font-color);
        }
    }

    strong {
        margin-top: var(--base-space);
    }
}
