@import '../../chrome/variables.scss';

.ui--MainMenu {

    nav {
        display: none;

        a {
            display: block;
            color: var(--link-color);
            padding: $base-space;
            border-bottom: 3px solid transparent;
            text-decoration: none;
            font-weight: 600;
            line-height: 1;
            transition: border 100ms;
        }

        a:hover {
            color: var(--font-color);
            border-bottom: 3px solid var(--hill-color);
        }

        a + a {
            margin-left: $base-space;
        }
    }

    @media only screen and (min-device-width: $mobile-breakpoint) {
        & {
            align-self: center;
            display: flex;
            flex: 1 auto;
            order: 1;
        }

        button {
            display: none;
        }

        nav {
            display: flex;
            flex: 1;
            justify-content: flex-end;
        }
    }
}