.grid-box {
    display: flex;
    flex-direction: row;
    // width:1000px;
    min-width:80vw;
}

.trail-id {
    width: 7%;
}

.trail-name {
    width: 34%;
}

.trail-duration {
    width:12%;
    justify-self: center;
}

.trail-distance {
    width:12%;
    justify-content: center;
}

.trail-hasValidGpx {
    width: 10%;
    justify-content: left;
}

.trail-mapName {
    width: 35%;
}

