.area--page {
    .content-wrapper {
        display: flex;
        flex-direction: row;
        margin: 0 var(--base-space-2x-negative);

        .sidebar {
            width: 40%;
            height: calc(100vh - var(--header-height));
            overflow: scroll;
            min-width: 400px;
            background: var(--surface-background-color);

            .trails-header {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;

                display: flex;
                height: 200px;
                align-items: flex-end;
                position: relative;

                .trail-name {
                    background-color: var(--background-color-transparent);
                    backdrop-filter: blur(30px) saturate(130%);
                    backface-visibility: hidden;

                    padding: var(--base-space) var(--base-space-2x);

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    margin-bottom: 0;

                    .trail-text {
                        color: var(--font-color-bright);
                        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

                        span {
                            display: block;
                            font-size: medium;
                        }
                    }
                }
            }

            .trails-list {
                .filters {
                    display: flex;
                    padding: 0 var(--base-space-2x) var(--base-space-2x);

                    button {
                        border-radius: var(--card-border-radius);

                        + button {
                            margin-left: var(--base-space);
                        }
                    }
                }

                .trails {
                    list-style-type: none;

                    .header {
                        display: flex;
                        padding: var(--base-space) var(--base-space-2x);
                        font-weight: bold;
                    }

                    .trail-name {
                        width: 60%;
                        padding-right: var(--base-space-2x);

                        a {
                            white-space: nowrap;
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: block;
                        }
                    }

                    .trail-distance {
                        width: 20%;
                        text-align: right;
                    }

                    .trail-duration {
                        width: 20%;
                        text-align: right;
                    }

                    .trail {
                        padding: var(--base-space) var(--base-space-2x);
                        display: flex;
                        border-bottom: 1px solid var(--border-color);

                        .trail-specs {
                            color: var(--font-color-secondary);
                            font-size: small;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        .map {
            height: calc(100vh - var(--header-height));
            width: 100%;

            #map {
                height: 100%;
            }
        }
    }

    @media screen and (max-width: 960px) {
        .trails-header {
            .trail-name {
                background-color: var(--background-color-transparent);
                backdrop-filter: blur(30px) saturate(130%);
                backface-visibility: hidden;

                padding: var(--base-space) var(--base-space-2x);
                margin: 0 var(--base-space-2x);
                border-radius: var(--border-radius);
                box-shadow: var(--interactive-surface-box-shadow);

                display: flex;
                align-items: center;

                .trail-text {
                    color: var(--font-color-bright);
                    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
                    font-size: 25px;
                }

                .header-icon {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .content-wrapper {
            flex-direction: column-reverse;

            .sidebar {
                width: 100%;
                min-width: auto;
                height: auto;
            }
        }
    }
}
