.ui--tile {
    background-color: var(--tile-background-color);
    border-radius: var(--tile-border-radius);
    overflow: hidden;

    .content {
        padding: var(--base-space-2x);
    }

    > h2 {
        padding: var(--base-space-2x) var(--base-space-2x) 0;
    }

    &.edge-to-edge-image {
        .content {
            padding: 0;
        }

        img {
            display: block;
        }
    }
}
